{
  "branches": [
    "master",
    "next"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -jqr /tmp/release.zip *.yaml web-build"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "ddev-ioncube-${nextRelease.version}.zip",
            "label": "DDev IonCube Addon v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
